$dark-blue: #6442fb;
$mid-blue: #b1abfd;
$light-blue: #f7f4ff;
$black-darkest: #252525;
$text-black: #3e3e3e;
$mid-grey: #545454;
$light-grey: #6a6a6a;
$label-blue: #dbdbff;
$goldish: #d09579;
$error__message: white;
$error__red: red;
$rg: rgb(61, 56, 255)
  radial-gradient(circle, rgba(61, 56, 255, 1) 0%, rgba(100, 67, 255, 1) 100%);

$font-title: Geomanist, "Trebuchet MS", Helvetica, sans-serif;
$font-body: "Source sans pro", Tahoma, Verdana, sans-serif;

$m-mp-heading: 2.32375em;
$m-p-heading: 1.7925em;
$m-p-subtitle: 1.383125em;
$p: 1em;
$m-p-smaller: 0.878em;
$m-p-small: 0.7715em;
